# Environment
NODE_ENV=development

# Development Database (PostgreSQL)
DEV_POSTGRES_USER=clockwise_dev
DEV_POSTGRES_PASSWORD=clockwise_dev
DEV_POSTGRES_DB=clockwise_dev
DEV_POSTGRES_HOST=localhost
DEV_POSTGRES_PORT=5432

# Test Database (PostgreSQL)
TEST_POSTGRES_USER=clockwise_test
TEST_POSTGRES_PASSWORD=clockwise_test
TEST_POSTGRES_DB=clockwise_test
TEST_POSTGRES_HOST=localhost
TEST_POSTGRES_PORT=5434

# Production Database (PostgreSQL)
PROD_POSTGRES_USER=clockwise_prod
PROD_POSTGRES_PASSWORD=clockwise_prod
PROD_POSTGRES_DB=clockwise_prod
PROD_POSTGRES_HOST=localhost
PROD_POSTGRES_PORT=5433

# JWT
JWT_SECRET=your-secret-key

# Database URL (será construída automaticamente baseada no ambiente NODE_ENV)
DATABASE_URL=postgresql://${DEV_POSTGRES_USER}:${DEV_POSTGRES_PASSWORD}@${DEV_POSTGRES_HOST}:${DEV_POSTGRES_PORT}/${DEV_POSTGRES_DB}
